In [ ]:
import pandas as pd

In [ ]:
dfy = pd.read_csv(r'dataset_business_final_yelp.csv')
dfm = pd.read_csv(r'dataset_final_business_maps.csv')

Normalización de dfm Maps Business

In [ ]:
dfm['latitude'] = dfm['latitude'].round(6)
dfm['longitude'] = dfm['longitude'].round(6)

In [ ]:
# Crear la nueva columna 'attributes' combinando las otras tres columnas
dfm['attributesM'] = dfm[['Accessibility', 'Planning', 'Service options']].apply(lambda x: ','.join(x.dropna().astype(str)), axis=1)
# Eliminar 'SinDato' de los strings en la columna 'attributes'
dfm['attributesM'] = dfm['attributesM'].str.replace('SinDato', '').str.replace(',,', ',').str.strip(',')

In [ ]:
# Eliminar las columnas originales
dfm = dfm.drop(columns=['Accessibility', 'Planning', 'Service options'])

In [ ]:
# Eliminar otras columnas originales
dfm = dfm.drop(columns=['url', 'relative_results', 'state'])

In [ ]:
# cambiar el nombre a la columna 'avg_rating' para especificar que es de google
dfm = dfm.rename(columns={'avg_rating': 'avg_ratingM'})
dfm = dfm.rename(columns={'num_of_reviews': 'num_of_reviewsM'})

In [ ]:
# Especifica el nuevo orden de las columnas
nuevo_orden = ['gmap_id', 'name', 'category_id', 'business_category', 'latitude', 'longitude', 'adress', 'avg_ratingM', 'num_of_reviewsM', 'hours', 'attributesM' ]

# Reordena las columnas
dfm = dfm.reindex(columns=nuevo_orden)

Normalización de datos de Yelp Business

In [ ]:
dfy['latitude'] = dfy['latitude'].round(6)
dfy['longitude'] = dfy['longitude'].round(6)

In [ ]:
valores_unicos = dfy['stars'].unique()
print(valores_unicos)

[3.5 4.  3.  4.5 2.  2.5 5.  1.5 1. ]

In [ ]:
# Eliminar las columnas originales
dfy = dfy.drop(columns=['city', 'ubicacion', 'postal_code'])

In [ ]:
# Renombrar la columna 'business_id'
dfy = dfy.rename(columns={'business_id': 'yelp_id'})

In [ ]:
dfy = dfy.rename(columns={'review_count': 'num_of_reviews', 'attributes': 'attributes'})

In [ ]:
# Especifica el nuevo orden de las columnas
nuevo_orden = ['yelp_id', 'name', 'category_id', 'business_category', 'latitude', 'longitude', 'adress', 'stars', 'num_of_reviews', 'hours', 'attributes' ]

# Reordena las columnas
dfy = dfy.reindex(columns=nuevo_orden)

In [ ]:
dfy

,yelp_id,name,category_id,business_category,latitude,longitude,adress,stars,num_of_reviewsY,hours,attributesY,business_id
0,k5LRHoQHGyaLjC9i6RkGcQ,Subway,Nzk4O,Sandwich Shop,27.896959,-82.247303,NaN,3.5,8,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-22:0', '...","{'RestaurantsPriceRange2': '1', 'GoodForKids':...",-82.247303-27.896959
1,H6tPRvGHvm-TdQ40LZE0aw,Dragon Express,ODU1N,Chinese Cuisine,28.068850,-82.435273,NaN,4.0,22,"{'Monday': '11:0-22:30', 'Wednesday': '11:0-22...","{'RestaurantsTakeOut': 'True', 'BusinessAccept...",-82.435273-28.06885
2,h7pY4--PXa5GvZaskzAy-g,Rodie's Restaurant and Pancake House,OTE3M,American Cuisine,28.138015,-82.756277,NaN,4.0,102,"{'Monday': '7:0-15:0', 'Tuesday': '7:0-15:0', ...","{'RestaurantsPriceRange2': '1', 'RestaurantsTa...",-82.756277-28.138015
3,CX7eMbe7_EQEh_dk4eBxYg,The Blue Dolphin Restaurant,LTg5M,Seafood Restaurant,28.331650,-82.669045,NaN,3.0,9,"{'Tuesday': '11:30-21:0', 'Wednesday': '11:30-...","{'NoiseLevel': ""u'quiet'"", 'HasTV': 'False', '...",-82.669045-28.33165
4,8fIIeyRpL-osIWF8oDGOeA,Panda Express,ODU1N,Chinese Cuisine,27.835905,-82.682159,NaN,3.0,56,"{'Monday': '10:30-22:0', 'Tuesday': '10:30-22:...","{'RestaurantsGoodForGroups': 'True', 'Restaura...",-82.682159-27.835905
...,...,...,...,...,...,...,...,...,...,...,...,...
8824,WcUS0B2iFLPAsdUZMwKkWw,Surf and Turf Cafe,LTg5M,Seafood Restaurant,27.945657,-82.456744,NaN,3.0,5,"{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...","{'Ambience': ""{'touristy': False, 'hipster': F...",-82.456744-27.945657
8825,ykJ9zt1fJ1cOpxz5FkpVOQ,I C Sharks Waterfront Cafe & Tiki Bar,LTg5M,Seafood Restaurant,27.870841,-82.612050,NaN,4.0,186,"{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ...","{'RestaurantsTakeOut': 'True', 'Caters': 'True...",-82.61205-27.870841
8826,fM8ZCk2SlMu--joYJQ3EQA,Starbucks,Nzk0M,Coffee Shop,27.793570,-82.735540,NaN,3.0,15,"{'Monday': '0:0-0:0', 'Tuesday': '10:30-18:0',...","{'GoodForKids': 'True', 'BusinessAcceptsCredit...",-82.73554-27.79357
8827,bm-Hrhg0smyGTsSNi-5ngw,Tropical Smoothie Cafe,NDIwM,Juice Shop,27.960900,-82.761114,NaN,2.0,41,"{'Monday': '6:30-23:0', 'Tuesday': '6:30-23:0'...","{'RestaurantsReservations': 'False', 'Business...",-82.761114-27.9609
8828,scf430KfZAuglZdiv44zOQ,Hibachi Japanese Express,NjY0N,Asian Cuisine,27.939031,-82.256435,NaN,4.5,60,"{'Monday': '10:30-21:30', 'Tuesday': '10:30-21...","{'Alcohol': ""'none'"", 'RestaurantsDelivery': '...",-82.256435-27.939031

Se exportan los datasets Business_Maps.csv y Business_Yelp.csv

In [ ]:
# Exportación de los df en cvs
dfm.to_csv('Business_Maps.csv', index=False)
dfy.to_csv('Business_Yelp.csv', index=False)

Se unifican los archivos para crear la clave business_id y la tabla de Business

In [ ]:
# Crea la columna 'business_id' uniendo latitud y longitud
dfm['business_id'] = dfm[['longitude', 'latitude']].apply(lambda row: f"{row['longitude']}-{row['latitude']}", axis=1)

In [ ]:
# Crea la columna 'business_id' uniendo latitud y longitud
dfy['business_id'] = dfy[['longitude', 'latitude']].apply(lambda row: f"{row['longitude']}-{row['latitude']}", axis=1)

In [ ]:
# Comprueba el tipo de datos de las columnas business_id
print("Tipo de dato de dfm['business_id']:", dfm['business_id'].dtype)
print("Tipo de dato de dfy['business_id']:", dfy['business_id'].dtype)

Tipo de dato de dfm['business_id']: object
Tipo de dato de dfy['business_id']: object

Creo la tabla Business

In [ ]:
df_concatenado = pd.concat([dfm, dfy])

In [ ]:
nuevo_orden = ['business_id', 'latitude', 'longitude', 'name', 'category_id', 'business_category', 'adress', 'gmap_id', 'yelp_id','avg_rating', 'stars', 'num_of_reviews', 'num_of_reviews', 'attributesM', 'attributesY', 'hours' ]
# Reordena las columnas
df_concatenado = df_concatenado.reindex(columns=nuevo_orden)

In [ ]:
# Traemos sólo las columnas 'business_id', 'latitude', 'longitude'y 'name' que formarán la tabla nueva de Business
df_business_ids = df_concatenado[['business_id', 'latitude', 'longitude', 'name']]

In [ ]:
df_business_ids

,business_id,latitude,longitude,name
0,-80.154709-26.011536,26.011536,-80.154709,WINGS N CURLS
1,-81.957434-27.981669,27.981669,-81.957434,Taco San Marcos
2,-82.433186-29.680396,29.680396,-82.433186,Domino's Pizza
3,-80.146011-25.952553,25.952553,-80.146011,Bodega Taqueria y Tequila Aventura
4,-85.62405-30.149222,30.149222,-85.624050,In & Out Seafood & Wings
...,...,...,...,...
8824,-82.456744-27.945657,27.945657,-82.456744,Surf and Turf Cafe
8825,-82.61205-27.870841,27.870841,-82.612050,I C Sharks Waterfront Cafe & Tiki Bar
8826,-82.73554-27.79357,27.793570,-82.735540,Starbucks
8827,-82.761114-27.9609,27.960900,-82.761114,Tropical Smoothie Cafe
8828,-82.256435-27.939031,27.939031,-82.256435,Hibachi Japanese Express

In [ ]:
# Quitamos duplicados para asegurarnos que queden valos únicos
df_sin_duplicados = df_business_ids.drop_duplicates()
df_sin_duplicados

,business_id,latitude,longitude,name
0,-80.154709-26.011536,26.011536,-80.154709,WINGS N CURLS
1,-81.957434-27.981669,27.981669,-81.957434,Taco San Marcos
2,-82.433186-29.680396,29.680396,-82.433186,Domino's Pizza
3,-80.146011-25.952553,25.952553,-80.146011,Bodega Taqueria y Tequila Aventura
4,-85.62405-30.149222,30.149222,-85.624050,In & Out Seafood & Wings
...,...,...,...,...
8824,-82.456744-27.945657,27.945657,-82.456744,Surf and Turf Cafe
8825,-82.61205-27.870841,27.870841,-82.612050,I C Sharks Waterfront Cafe & Tiki Bar
8826,-82.73554-27.79357,27.793570,-82.735540,Starbucks
8827,-82.761114-27.9609,27.960900,-82.761114,Tropical Smoothie Cafe
8828,-82.256435-27.939031,27.939031,-82.256435,Hibachi Japanese Express

Se exporta el dataset Business

In [ ]:
df_sin_duplicados.to_csv('dataframe_business_id.csv', index=False)